- content_for :meta_title do
  = @subcategory.meta_title
- content_for :meta_description do
  = @subcategory.meta_description
- content_for :meta_keywords do
  = @subcategory.meta_keywords
- content_for :meta_author do
  gustavo pares
